<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>a-GurungKhema</key>
  <string>a-GurungKhema.glif</string>
  <key>ba-GurungKhema</key>
  <string>ba-GurungKhema.glif</string>
  <key>bha-GurungKhema</key>
  <string>bha-GurungKhema.glif</string>
  <key>ca-GurungKhema</key>
  <string>ca-GurungKhema.glif</string>
  <key>cha-GurungKhema</key>
  <string>cha-GurungKhema.glif</string>
  <key>consonantsignmedialha-GurungKhema</key>
  <string>consonantsignmedialha-GurungKhema.glif</string>
  <key>consonantsignmedialracomb-GurungKhema</key>
  <string>consonantsignmedialracomb-GurungKhema.glif</string>
  <key>consonantsignmedialva-GurungKhema</key>
  <string>consonantsignmedialva-GurungKhema.glif</string>
  <key>consonantsignmedialya-GurungKhema</key>
  <string>consonantsignmedialya-GurungKhema.glif</string>
  <key>da-GurungKhema</key>
  <string>da-GurungKhema.glif</string>
  <key>dda-GurungKhema</key>
  <string>dda-GurungKhema.glif</string>
  <key>ddha-GurungKhema</key>
  <string>ddha-GurungKhema.glif</string>
  <key>dha-GurungKhema</key>
  <string>dha-GurungKhema.glif</string>
  <key>eight-GurungKhema</key>
  <string>eight-GurungKhema.glif</string>
  <key>five-GurungKhema</key>
  <string>five-GurungKhema.glif</string>
  <key>four-GurungKhema</key>
  <string>four-GurungKhema.glif</string>
  <key>ga-GurungKhema</key>
  <string>ga-GurungKhema.glif</string>
  <key>gha-GurungKhema</key>
  <string>gha-GurungKhema.glif</string>
  <key>ha-GurungKhema</key>
  <string>ha-GurungKhema.glif</string>
  <key>ja-GurungKhema</key>
  <string>ja-GurungKhema.glif</string>
  <key>jha-GurungKhema</key>
  <string>jha-GurungKhema.glif</string>
  <key>ka-GurungKhema</key>
  <string>ka-GurungKhema.glif</string>
  <key>kha-GurungKhema</key>
  <string>kha-GurungKhema.glif</string>
  <key>la-GurungKhema</key>
  <string>la-GurungKhema.glif</string>
  <key>ma-GurungKhema</key>
  <string>ma-GurungKhema.glif</string>
  <key>na-GurungKhema</key>
  <string>na-GurungKhema.glif</string>
  <key>nga-GurungKhema</key>
  <string>nga-GurungKhema.glif</string>
  <key>nine-GurungKhema</key>
  <string>nine-GurungKhema.glif</string>
  <key>one-GurungKhema</key>
  <string>one-GurungKhema.glif</string>
  <key>pa-GurungKhema</key>
  <string>pa-GurungKhema.glif</string>
  <key>pha-GurungKhema</key>
  <string>pha-GurungKhema.glif</string>
  <key>ra-GurungKhema</key>
  <string>ra-GurungKhema.glif</string>
  <key>sa-GurungKhema</key>
  <string>sa-GurungKhema.glif</string>
  <key>seven-GurungKhema</key>
  <string>seven-GurungKhema.glif</string>
  <key>signanusvaracomb-GurungKhema</key>
  <string>signanusvaracomb-GurungKhema.glif</string>
  <key>signtholhomacomb-GurungKhema</key>
  <string>signtholhomacomb-GurungKhema.glif</string>
  <key>six-GurungKhema</key>
  <string>six-GurungKhema.glif</string>
  <key>ta-GurungKhema</key>
  <string>ta-GurungKhema.glif</string>
  <key>tha-GurungKhema</key>
  <string>tha-GurungKhema.glif</string>
  <key>three-GurungKhema</key>
  <string>three-GurungKhema.glif</string>
  <key>tta-GurungKhema</key>
  <string>tta-GurungKhema.glif</string>
  <key>ttha-GurungKhema</key>
  <string>ttha-GurungKhema.glif</string>
  <key>two-GurungKhema</key>
  <string>two-GurungKhema.glif</string>
  <key>va-GurungKhema</key>
  <string>va-GurungKhema.glif</string>
  <key>vowellengthmarkcomb-GurungKhema</key>
  <string>vowellengthmarkcomb-GurungKhema.glif</string>
  <key>vowelsignaacomb-GurungKhema</key>
  <string>vowelsignaacomb-GurungKhema.glif</string>
  <key>vowelsignaicomb-GurungKhema</key>
  <string>vowelsignaicomb-GurungKhema.glif</string>
  <key>vowelsignaucomb-GurungKhema</key>
  <string>vowelsignaucomb-GurungKhema.glif</string>
  <key>vowelsignecomb-GurungKhema</key>
  <string>vowelsignecomb-GurungKhema.glif</string>
  <key>vowelsigneecomb-GurungKhema</key>
  <string>vowelsigneecomb-GurungKhema.glif</string>
  <key>vowelsignicomb-GurungKhema</key>
  <string>vowelsignicomb-GurungKhema.glif</string>
  <key>vowelsigniicomb-GurungKhema</key>
  <string>vowelsigniicomb-GurungKhema.glif</string>
  <key>vowelsignocomb-GurungKhema</key>
  <string>vowelsignocomb-GurungKhema.glif</string>
  <key>vowelsignoocomb-GurungKhema</key>
  <string>vowelsignoocomb-GurungKhema.glif</string>
  <key>vowelsignucomb-GurungKhema</key>
  <string>vowelsignucomb-GurungKhema.glif</string>
  <key>vowelsignuucomb-GurungKhema</key>
  <string>vowelsignuucomb-GurungKhema.glif</string>
  <key>ya-GurungKhema</key>
  <string>ya-GurungKhema.glif</string>
  <key>zero-GurungKhema</key>
  <string>zero-GurungKhema.glif</string>
</dict>
</plist>