<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>2048</integer>
  <key>capHeight</key>
  <integer>1434</integer>
  <key>descender</key>
  <integer>512</integer>
  <key>familyName</key>
  <string>GurungKhema</string>
  <key>italicAngle</key>
  <real>0</real>
  <key>openTypeHeadCreated</key>
  <string>2002/11/29 21:56:52</string>
  <key>openTypeHeadFlags</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>3</integer>
    <integer>4</integer>
  </array>
  <key>openTypeHeadLowestRecPPEM</key>
  <integer>8</integer>
  <key>openTypeHheaAscender</key>
  <integer>1825</integer>
  <key>openTypeHheaCaretOffset</key>
  <integer>0</integer>
  <key>openTypeHheaCaretSlopeRise</key>
  <integer>1</integer>
  <key>openTypeHheaCaretSlopeRun</key>
  <integer>0</integer>
  <key>openTypeHheaDescender</key>
  <integer>-443</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNamePreferredFamilyName</key>
  <string>GurungKhema</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Regular</string>
  <key>openTypeNameUniqueID</key>
  <string>GurungKhema Regular:Version 0.500</string>
  <key>openTypeNameVersion</key>
  <string>Version 0.500;April 21, 2025;FontCreator 15.0.0.3011 64-bit</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
  </array>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>12</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>1</integer>
    <integer>1</integer>
    <integer>1</integer>
    <integer>1</integer>
    <integer>1</integer>
    <integer>1</integer>
    <integer>1</integer>
    <integer>1</integer>
    <integer>1</integer>
    <integer>1</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>6</integer>
    <integer>8</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>530</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>102</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>1024</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>1024</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>1024</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>1024</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>1024</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>1024</integer>
  <key>openTypeOS2Type</key>
  <array>
    <integer>3</integer>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>2048</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>512</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>204</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>57</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>????</string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>1823</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>669</integer>
  <key>postscriptFontName</key>
  <string>GurungKhema</string>
  <key>postscriptUnderlinePosition</key>
  <integer>0</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>0</integer>
  <key>styleMapFamilyName</key>
  <string>GurungKhema</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>unitsPerEm</key>
  <integer>2048</integer>
  <key>versionMajor</key>
  <integer>0</integer>
  <key>versionMinor</key>
  <integer>32768</integer>
  <key>xHeight</key>
  <integer>1024</integer>
</dict>
</plist>