<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>a-GurungKhema</string>
    <string>ka-GurungKhema</string>
    <string>kha-GurungKhema</string>
    <string>ga-GurungKhema</string>
    <string>gha-GurungKhema</string>
    <string>nga-GurungKhema</string>
    <string>ca-GurungKhema</string>
    <string>cha-GurungKhema</string>
    <string>ja-GurungKhema</string>
    <string>jha-GurungKhema</string>
    <string>ha-GurungKhema</string>
    <string>tta-GurungKhema</string>
    <string>ttha-GurungKhema</string>
    <string>dda-GurungKhema</string>
    <string>ddha-GurungKhema</string>
    <string>va-GurungKhema</string>
    <string>ta-GurungKhema</string>
    <string>tha-GurungKhema</string>
    <string>da-GurungKhema</string>
    <string>dha-GurungKhema</string>
    <string>na-GurungKhema</string>
    <string>pa-GurungKhema</string>
    <string>pha-GurungKhema</string>
    <string>ba-GurungKhema</string>
    <string>bha-GurungKhema</string>
    <string>ma-GurungKhema</string>
    <string>ya-GurungKhema</string>
    <string>ra-GurungKhema</string>
    <string>la-GurungKhema</string>
    <string>sa-GurungKhema</string>
    <string>vowelsignaacomb-GurungKhema</string>
    <string>vowelsignicomb-GurungKhema</string>
    <string>vowelsigniicomb-GurungKhema</string>
    <string>vowelsignucomb-GurungKhema</string>
    <string>vowelsignuucomb-GurungKhema</string>
    <string>vowelsignecomb-GurungKhema</string>
    <string>vowelsigneecomb-GurungKhema</string>
    <string>vowelsignaicomb-GurungKhema</string>
    <string>vowelsignocomb-GurungKhema</string>
    <string>vowelsignoocomb-GurungKhema</string>
    <string>vowelsignaucomb-GurungKhema</string>
    <string>vowellengthmarkcomb-GurungKhema</string>
    <string>consonantsignmedialya-GurungKhema</string>
    <string>consonantsignmedialva-GurungKhema</string>
    <string>consonantsignmedialha-GurungKhema</string>
    <string>signanusvaracomb-GurungKhema</string>
    <string>consonantsignmedialracomb-GurungKhema</string>
    <string>signtholhomacomb-GurungKhema</string>
    <string>zero-GurungKhema</string>
    <string>one-GurungKhema</string>
    <string>two-GurungKhema</string>
    <string>three-GurungKhema</string>
    <string>four-GurungKhema</string>
    <string>five-GurungKhema</string>
    <string>six-GurungKhema</string>
    <string>seven-GurungKhema</string>
    <string>eight-GurungKhema</string>
    <string>nine-GurungKhema</string>
  </array>
</dict>
</plist>